ROMM_BASE_PATH=/path/to/romm_mock
DEV_MODE=true

# Gunicorn (optional)
GUNICORN_WORKERS=4 # (2 × CPU cores) + 1

# IGDB credentials
IGDB_CLIENT_ID=dewiwx5moyti3kqijg08lsxjnv36vu
IGDB_CLIENT_SECRET=ir91jzbt1ivftmyyzzhah2w4tqvekt

# Mobygames
# MOBYGAMES_API_KEY=

# SteamGridDB
STEAMGRIDDB_API_KEY=99000639f8c772bc7bc2e299aa83a248

# Database config
DB_HOST=192.168.1.3
DB_PORT=3306
DB_NAME=romm
DB_USER=romm
DB_PASSWD=Williamm1!
DB_ROOT_PASSWD=@vo!db@ck!nguP1!

# Redis config
REDIS_HOST=192.168.1.3
REDIS_PORT=6379

# Authentication
ROMM_AUTH_SECRET_KEY=5090574d9b31ebd8e4d4836e13e20ed7338b9369c749b737a836c35ca1d93600

# Filesystem watcher (optional)
ENABLE_RESCAN_ON_FILESYSTEM_CHANGE=true
RESCAN_ON_FILESYSTEM_CHANGE_DELAY=5

# Periodic Tasks (optional)
ENABLE_SCHEDULED_RESCAN=true
SCHEDULED_RESCAN_CRON=0 3 * * *
ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB=true
SCHEDULED_UPDATE_SWITCH_TITLEDB_CRON=0 4 * * *

# In-browser emulation
DISABLE_EMULATOR_JS=true
DISABLE_RUFFLE_RS=true

# Disable CSRF protection for development and testing purposes
DISABLE_CSRF_PROTECTION=true

# Logging
LOGLEVEL=DEBUG
